.ac_results {
	padding: 0px;
	border: 3px solid #6F989A;
	border-top:none;
	background-color: white;
	width: 705px !important;
        position: absolute !important;
	overflow: hidden;
	z-index: 999 !important;
        margin: -3px auto 0px 10px !important; 
 	font-family: "faricy-new-web";

}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 5;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 4px 8px;
	cursor: default;
	display: block;
	
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 16px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 22px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #FFFDFB;
	color:#fb6626;
}

.ac_even {
	background-color: #FFFDFB;
	color:#fb6626;
}

.ac_over {
	background-color: #FF4C28;
	color:#FFF;
}
